.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "seperator_area seperator_area"
    "main_area aside_area"
    "footer_area footer_area";
}


.seperator{
    padding-bottom: 30px;
    grid-area: seperator_area;
}

header {
    /* Att lägga till en backgrundsbild med färg, filter */
    /* Hämtad och redigerad från: https://stackoverflow.com/questions/26621513/darken-css-background-image */
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("/pictures/big_brain_you_head_1.png");

    background-size: cover;

    padding: 10rem 3rem;
    text-align: center;
    width: 60rem;
    margin: auto;
    color: azure;
    margin-top: 2rem;
}

header h1 {
    font-size: 5rem;
    padding-bottom: 1.5rem;
}

header p {
    font-size: 1.5rem;
}

main {
    grid-area: main_area;
}

.figures_container {
    display: flex;
    justify-content: space-between;
}

figure {
    background-color: aquamarine;
    display: flex;
    margin: 0;
}

figure img {
    grid-area: figure_img_area;
    width: 170px;
}

figure figcaption {
    grid-area: figure_figcatpition_area;
}

aside {
    grid-area: aside_area;
    padding: 2.5rem 0.3rem;
    text-align: right;
}

footer {
    grid-area: footer_area;
}